@use "colors";

/* Container */
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

/* Flex Box */
.d-flex {
  display: flex;
  gap: 16px;
}
.col-half {
  flex: 0.5;
}
.col-third {
  flex: 0.333;
}
.justify-content {
  &-between {
    justify-content: space-between;
  }
  &-center {
    justify-content: center;
  }
  &-end {
    justify-content: flex-end;
  }
}

/* Textarea */
.resize-x { resize: horizontal; }
.resize-y { resize: vertical; }

/* Misc */
.highlight {
  padding: 64px 0;
  background-color: colors.$highlight;
}
.shadow {
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
}
