@use "pages/index";
@use "pages/about";
@use "pages/discography";

@use "colors";
@use "icons";
@use "typography";
@use "utility";
@use "scrollbar";
@use "inputs";

:root {
  font-size: 12px;
}

::selection {
  background: colors.$accent;
}

body {
  margin: unset;
  background-color: colors.$l0;
}

section {
  margin: 128px 0;
}

.album-spotlight {
  .latest-release {
    display: flex;
    img {
      max-width: 400px;
      aspect-ratio: 1/1;
      border: 10px solid colors.$l1;
      border-radius: 5px;
    }
    .content {
      display: flex;
      flex-grow: 1;
      .text {
        padding: 12px 24px;
        width: 60%;
      }
      .tracks {
        width: 40%;
        max-height: 400px;
        overflow: auto;
        .track {
          padding: 8px 16px 16px 8px;
          &:not(:last-child) {
            border-bottom: 2px solid colors.$l1;
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  .socials {
    display: flex;
    margin-bottom: 64px;
    gap: 24px;
  }
  a {
    margin-bottom: 64px;
    text-transform: uppercase;
    text-decoration: none;
  }
}
