@use "colors";
@use "icons";
@use "typography";

:root {
  font-size: 12px;
}

body {
  margin: unset;
  background-color: colors.$l0;
}

header {
  position: relative;
  .video-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    max-height: 700px;
    overflow: hidden;
    filter: brightness(.3);
    video {
      width: 100%;
      aspect-ratio: 16/9;
    }
  }
  .title {
    position: absolute;
    top: 32px;
    left: 32px;
  }
  menu {
    position: absolute;
    top: 50%;
    left: 32px;
    margin: unset;
    padding: unset;
    transform: translateY(-50%);
    li {
      list-style: none;
      a {
        text-decoration: none;
        h3 {
          color: colors.$base;
        }
      }
    }
  }
  .gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(0, colors.$l0 10%, colors.$l0-t0 100%);
  }
  .socials {
    position: absolute;
    display: flex;
    flex-flow: row;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    .icon:not(:last-child) {
      margin-right: 24px;
    }
  }
}
